<div class="page">
    <div class="calendar"
    calendar=""
    events="{{[
			{ date: '2014-02-09', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-02-09', title: 'CLNDR GitHub Page Finished2', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-02-12', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-02-18', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-02-22', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }
		]}}"></div>

		<div class="calendar"
    calendar=""
    events="{{[
			{ date: '2014-03-09', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-03-09', title: 'CLNDR GitHub Page Finished2', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-03-12', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-03-18', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' },
			{ date: '2014-03-22', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }
		]}}"></div>

</div>