<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, height=device-height, initial-scale=1"/>
    <meta name="description" content="Description"/>
    <meta name="keywords" content="Keywords"/>
    <meta name="author" content="imaginamos.com">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 month">
    <title></title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="css/topcoat-mobile-light.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>


    <script src="js/vendor/jquery-2.0.3.min.js"></script>
    <script src="js/vendor/fastclick.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

    <script src="js/vendor/angular-1.2.2/angular.min.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-route.min.js"></script>
    <script src="js/vendor/angular-1.2.2/angular-animate.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>

   <script type="text/javascript" src="js/vendor/angular-google-maps.js"></script>
    <!-- <script src="http://nlaplante.github.io/angular-google-maps/js/angular-google-maps.js"></script>http://nlaplante.github.io/angular-google-maps/#!/usage
    <script type="text/javascript" src="https://raw.github.com/nlaplante/angular-google-maps/master/dist/angular-google-maps.js"></script>-->
    <script src="js/dist/built.js"></script>

</head>
<body ng-app="app">
<div id="app" ng-controller="MainController">

    <div id="sideNav">
        <ul>
            <li><a href="#/home" ng-click="toggleSideNav()">Home</a></li>
            <li><a href="#/tradings" ng-click="toggleSideNav()">Tradings</a></li>
            <li><a href="">Plans</a></li>
        </ul>
    </div>

    <div id="wrapper">

        <div id="header" ng-class="{false: 'hidden'}[config.hasHeader]">
            <button class="topcoat-button" ng-click="toggleSideNav()">Menu</button>
            <h2 class="title">{{config.title}}</h2>
        </div>

        <div id="content" style="{{contentStyles()}}">
            <div ng-view="" class="slide-animation"></div>
        </div>

        <div id="footer" ng-class="{false: 'hidden'}[config.hasFooter]">
            <a href="#/home">Home</a>
            <a href="#/tradings">Tradings</a>
            <a href="#/map">Map</a>
        </div>

    </div>
</div>

<div id="toasts" ng-controller="ToastController">
    <div class="toast {{m.type}}" ng-repeat="m in messages">{{m.title}}</div>
</div>

</body>
</html>