<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, height=device-height, initial-scale=1"/>
    <meta name="description" content="Description"/>
    <meta name="keywords" content="Keywords"/>
    <meta name="author" content="imaginamos.com">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 month">
    <title>Angular boilerplate</title>

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>

    <link rel="stylesheet" type="text/css" href="css/vendor/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="js/vendor/swiper/idangerous.swiper.css"/>
    <link rel="stylesheet" type="text/css" href="js/vendor/swiper/idangerous.swiper.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="css/base.css"/>




</head>
<body ng-app="app" ng-cloak>
    <div id="app" ng-controller="MainController">

        <div id="sideNav">
            <div class="row logo-widget">
                <img src="https://en.gravatar.com/userimage/10212117/55aaef8201270c8b51fb9912b61a6fb2.jpg?size=200" class="image" alt="">
            </div>
            <h2 class="vertical-menu-title">Menu title</h2>
            <ul class="vertical-menu">
                <li><a href="#/home" ng-click="toggleSideNav()" class="has-icon entypo-home has-chevron">Home</a></li>
                <li><a href="#/listview" ng-click="toggleSideNav()" class="has-icon entypo-text-doc has-chevron">ListView</a></li>
                <li><a href="#/forms" ng-click="toggleSideNav()" class="has-icon entypo-list has-chevron">Forms</a></li>
                <li><a href="#/calendar" ng-click="toggleSideNav()" class="has-icon entypo-calendar has-chevron">Calendar</a></li>
                <li><a href="#/map" ng-click="toggleSideNav()" class="has-icon entypo-map has-chevron">Map</a></li>
                <li><a href="#/swiper" ng-click="toggleSideNav()" class="has-icon entypo-circled-right has-chevron">Swiper</a></li>
            </ul>
            <h2 class="vertical-menu-title">Menu title</h2>
            <ul class="vertical-menu">
                <li><a href="#/" ng-click="toggleSideNav()" class="has-icon entypo-logout has-chevron">Logout</a></li>
            </ul>
        </div>

        <div id="wrapper">

            <div id="header" ng-class="{false: 'hidden'}[config.hasHeader]">
                <a class="button menuButton" ng-click="toggleSideNav()" ng-show="config.hasSideNavigation">&#9776;</a>
                <h3 class="title" ng-class="{true: 'sideNav'}[config.hasSideNavigation]">{{config.title}}</h3>
            </div>

            <div id="content" style="{{contentStyles()}}">
                <div ng-view="" class="page-holder page-slide-animation clearfix"></div>
            </div>

            <div id="footer" ng-class="{false: 'hidden'}[config.hasFooter]">
                <a href="#/home">Home</a>
                <a href="#/listview" >ListView</a>
                <a href="#/calendar" >Calendar</a>
                <a href="#/map">Map</a>
            </div>

        </div>

        <!-- Toast element -->
        <div id="toasts" mb-toast="">
            <div class="toast {{m.type}}" ng-repeat="m in messages">{{m.title}}</div>
        </div>

        <!-- Loading widget -->
        <div id="loading" mb-loading-pop-over="Hang in there! we are getting some nice data just for you." ng-show="config.loadingPopOver" ng-click="config.loadingPopOver=false">
        </div>

        <!-- MODALS -->
        <div id="modals-container" mb-modal-box="" class="clearfix">
            <div class="modal">
                <h1>{{defaults.title}}</h1>
                <div class="close-button entypo-font" ng-click="closeModal()">&#10062;</div>
                <div class="content">

                </div>
                <div class="footer row extend">
                    <div class="column small-6">
                        <a href="javascript:;" class="button w100p" ng-click="closeModal()">{{defaults.acceptText}}</a>
                    </div>
                    <div class="column small-6">
                        <a href="javascript:;" class="button secondary w100p" ng-click="closeModal()">{{defaults.cancelText}}</a>
                    </div>
                </div>
            </div>
        </div>



    </div>





    <!-- jQuery -->
    <script src="js/vendor/jquery-2.0.3.min.js"></script>

    <!-- Fastclick -->
    <script src="js/vendor/fastclick.js"></script>

    <!-- Google maps -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>

    <!-- Angular -->
    <script src="js/vendor/angular-1.2.10/angular.min.js"></script>
    <script src="js/vendor/angular-1.2.10/angular-route.min.js"></script>
    <script src="js/vendor/angular-1.2.10/angular-animate.min.js"></script>

    <!-- Underscore -->
    <script src="js/vendor/underscore-min.js"></script>

    <!-- google maps directive -->
    <script type="text/javascript" src="js/vendor/angular-google-maps.js"></script>

    <!-- momentjs -->
    <script type="text/javascript" src="js/vendor/momentjs/moment-with-langs.min.js"></script>

    <!-- CLNDR -->
    <script type="text/javascript" src="js/vendor/clndr/clndr.js"></script>

    <!-- Swiper -->
    <script type="text/javascript" src="js/vendor/swiper/idangerous.swiper.js"></script>
    <script type="text/javascript" src="js/vendor/swiper/idangerous.swiper.scrollbar-2.1.js"></script>

    <!-- My App -->
    <script src="js/dist/built.js"></script>


</body>
</html>