html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .4s;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
#wrapper.open {
  -webkit-transform: translate3d(200px, 0, 0);
}
#header {
  width: 100%;
  height: 70px;
  background: #4a4d4e;
  box-sizing: border-box;
  padding: 10px;
}
#header.hidden {
  display: none;
}
#header .title {
  display: inline-block;
  line-height: 53.9px;
  padding-left: 10px;
  color: white;
}
#content {
  background: #dfe2e2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 70px;
  left: 0;
  box-sizing: border-box;
}
#content:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#content .page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  overflow-x: auto;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
}
#footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  display: -webkit-flex;
  background: #4a4d4e;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .2s;
}
#footer.hidden {
  -webkit-transform: translate3d(0, 90px, 0);
}
#footer > a {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  color: white;
  text-align: center;
  line-height: 70px;
}
#footer > a:hover,
#footer > a:active {
  background: #313334;
}
#sideNav {
  width: 200px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #7c8182;
  -webkit-transform: translate3d(0, 0, 0);
}
#sideNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sideNav ul li a {
  color: #F0F1F1;
  display: block;
  height: 46px;
  font-size: 16px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 0 0 20px;
  text-decoration: none;
}
/*PAGE ANIMATIONS*/
.slide-animation.ng-enter,
.slide-animation.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
}
.slide-animation.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
}
.slide-animation.ng-enter.ng-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
}
.slide-animation.ng-leave {
  -webkit-transform: translate3d(0, 0, 0);
  opacity: 1;
}
.slide-animation.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
/*TOASTS*/
#toasts {
  width: 100%;
  position: fixed;
  bottom: 10px;
  left: 0;
  z-index: 9999999;
}
#toasts .toast {
  width: 90%;
  margin: 2px auto;
  background: #ccc;
  font-size: 0.9em;
  text-align: center;
  padding: 10px;
  line-height: 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}
#toasts .toast.success {
  background: #80d612;
  color: white;
}
#toasts .toast.warning {
  background: #ff8f00;
  color: white;
}
#toasts .toast.error {
  background: #d11515;
  color: white;
}
#toasts .toast.ng-enter,
#toasts .toast.ng-leave {
  -webkit-transform: scaleY(0);
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}
#toasts .toast.ng-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
}
#toasts .toast.ng-enter.ng-enter-active {
  -webkit-transform: scaleY(1);
  opacity: 1;
}
#toasts .toast.ng-leave {
  -webkit-transform: scaleY(1);
  opacity: 1;
}
#toasts .toast.ng-leave.ng-leave-active {
  -webkit-transform: scaleY(0);
  opacity: 0;
}
